<!-- Cameron Deao -->
<!-- CST-235 -->
<!-- 2/17/2019 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<!--  A simple message is displayed along with the user submitted first name. 
	  The button returns the user to the form page where the table was updated
	  utilizing the form controller method that was established.-->
Hello #{User.firstName}, your order was processed!
<h:form>
<h:commandButton value="Return to form page" action="#{formController.processingOrder()}"/>
</h:form>
</body> 
</html>
