<!-- Cameron Deao -->
<!-- CST-235 -->
<!-- 2/17/2019 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
     <ui:define name="tags"></ui:define>
<h:head>
<title> JSF Form Page</title>
</h:head> 
 <ui:composition>
<body> 
<!-- The UI for this page includes the established header file along with the footer. -->
<ui:include src="/layouts/commonHeader.xhtml"/>
<h:form>
<!-- The input text reads in the user submitted data and establishes variables
	 within the User class with that data. The command buttons perform either an
	 onSubmit method or and onFlash method in the form controller based on which
	 of the buttons was clicked. -->
<h:inputText value="#{user.firstName}" name = "firstName" /><br/>
<h:inputText value="#{user.lastName}" name = "lastName" /><br/>
<h:commandButton value = "Submit" action ="#{formController.onSubmit(user)}"/>
<h:commandButton value = "Flash" action ="#{formController.onFlash(user)}"/>
<ui:include src="/layouts/commonFooter.xhtml"/>
</h:form>
</body> 
</ui:composition>
</html>