<!-- Cameron Deao -->
<!-- CST-235 -->
<!-- 2/17/2019 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title> JSF Response Page</title>
	<link rel="stylesheet" type="text/css" href="resources/style.css"></link>
</h:head> 
<body> 
	<!-- The UI includes the established header and footer file for display. -->
 	<ui:include src="/layouts/commonHeader.xhtml"></ui:include>
 	<p>Hello #{user.firstName}  #{user.lastName}. Your orders are:</p>
	<h:form>
	<!-- The data displays the correct data variables that were established from the 
	     form controller getting the order list. -->
	<h:dataTable value="#{Orders}" var="order" border="6" cellspacing="1" cellpadding="6">
	<h:column>
	<f:facet name="header"><b>Order Number</b></f:facet>
	<q>#{formController.service.order.get(0).orderNumber}</q>
	</h:column>
	<h:column>
	<f:facet name="header"><b>Order Name</b></f:facet>
	<q>#{formController.service.order.get(0).productName}</q>
	</h:column>
	<h:column>
	<f:facet name="header"><b>Product Price</b></f:facet>
	<q>#{formController.service.order.get(0).productPrice}</q>
	</h:column>
	<h:column>
	<f:facet name="header"><b>Product Quantity</b></f:facet>
	<q>#{formController.service.order.get(0).productQuantity}</q>
	</h:column>
	</h:dataTable>
	<br>
	</br>
	<br></br>
	<!-- The send order button redirects the user to a new .xhtml page that displays a message
	     and will reestablish the data table with the new correct data variables. -->
	<h:button value="Send Order" outcome="#{formController.onSendOrder()}"/>
	<!-- The return button simply redirects the user to the previous page where they can submit
	     new data for the first and last name variables. -->
 	<h:button value="Return to Login Page" outcome="#{formController.goBack()}"></h:button>
	<ui:include src="/layouts/commonFooter.xhtml"></ui:include>
	</h:form>
</body> 
</html>
